/* public/style.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url('https://i.ibb.co/KFfFjsb/image.jpg') no-repeat center center;
  background-size: cover;
}

.music-player {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: white;
}

.controls button {
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #45a049;
}
